<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>日三省</title>
    @Styles.Render("~/Content/BaseCSS")
    @RenderSection("styles", required: false)
</head>
<body class="page-container-bg-solid">
    <div class="page-wrapper">
        <div class="page-wrapper-row">
            <div class="page-wrapper-top">
                <!-- BEGIN HEADER -->
                <div class="page-header">
                    <!-- BEGIN HEADER TOP -->
                    <div class="page-header-top">
                        <div class="container">
                            <!-- BEGIN LOGO -->
                            <div class="page-logo">
                                <a href="index.html">
                                    @*<img src="../assets/layouts/layout3/img/logo-default.jpg" alt="logo" class="logo-default">*@
                                </a>
                                拾贝
                            </div>
                            <!-- END LOGO -->
                            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                            @*<a href="javascript:;" class="menu-toggler"></a>*@
                            <!-- END RESPONSIVE MENU TOGGLER -->
                            <!-- BEGIN TOP NAVIGATION MENU -->
                            <div class="top-menu">
                                <ul class="nav navbar-nav pull-right">
                                    @*<a href="#">登录</a>*@
                                    <li class="dropdown dropdown-extended dropdown-tasks dropdown-dark" >
                                        <a href="/User/Login" class="dropdown-toggle" >
                                            <i class="icon-login"></i>登录
                                        </a>
                                    </li>
                                    <li class="droddown dropdown-separator">
                                        
                                        <span class="separator"></span>
                                    </li>
                                    <li class="dropdown dropdown-extended dropdown-tasks dropdown-dark" >
                                        <a href="/User/Register" class="dropdown-toggle" >
                                            <i class="icon-user-follow"></i>注册
                                        </a>
                                    </li>
                                    @*<a href="#">注册</a>*@
                                    <!-- BEGIN USER LOGIN DROPDOWN -->
                                    @*<li class="dropdown dropdown-user dropdown-dark">
                                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                            <img alt="" class="img-circle" src="~/Content/Plugin/Metronic/layouts/layout3/img/avatar1.jpg">
                                            <span class="username username-hide-mobile">系统管理员</span>
                                        </a>
                                    </li>*@
                                    <!--- END USER LOGIN DROPDOWN -->
                                </ul>
                            </div>
                            <!-- END TOP NAVIGATION MENU -->
                        </div>
                    </div>
                    <!-- END HEADER TOP -->
                    <!-- 导航 开始 -->
                    <div class="page-header-menu">
                        <div class="container">
                            <!-- BEGIN HEADER SEARCH BOX -->
                            <form class="search-form" action="page_general_search.html" method="GET">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search" name="query">
                                    <span class="input-group-btn">
                                        <a href="javascript:;" class="btn submit">
                                            <i class="icon-magnifier"></i>
                                        </a>
                                    </span>
                                </div>
                            </form>
                            <!-- END HEADER SEARCH BOX -->
                            <!-- BEGIN MEGA MENU -->
                            <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
                            <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
                            <div class="hor-menu  ">
                                <ul class="nav navbar-nav">
                                    <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown ">
                                        <a href="/Home/Index">
                                            主页
                                            <span class="arrow"></span>
                                        </a>
                                    </li>
                                    <li aria-haspopup="true" class="menu-dropdown mega-menu-dropdown  ">
                                        <a href="javascript:;">
                                            日三省
                                            <span class="arrow"></span>
                                        </a>
                                    </li>
                                    <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown ">
                                        <a href="javascript:;">
                                            关于
                                            <span class="arrow"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- END MEGA MENU -->
                        </div>
                    </div>
                    <!-- 导航 结束 -->
                </div>
                <!-- END HEADER -->
            </div>
        </div>
        <div class="page-wrapper-row full-height">
            <div class="page-wrapper-middle">
                <!-- BEGIN CONTAINER -->
                <div class="page-container">
                    <!-- BEGIN CONTENT -->
                    <div class="page-content-wrapper">
                        

                        @RenderBody()
                    </div>
                    <!-- END CONTENT -->
                    <!-- BEGIN QUICK SIDEBAR -->
                    
                    <!-- END QUICK SIDEBAR -->
                </div>
                <!-- END CONTAINER -->
            </div>
        </div>
        <div class="page-wrapper-row">
            <div class="page-wrapper-bottom">
                
                <!-- BEGIN INNER FOOTER -->
                <div class="page-footer">
                    <div class="container">
                        2016 &copy; Metronic Theme By
                        <a target="_blank" href="http://keenthemes.com">Keenthemes</a> &nbsp;|&nbsp;
                        <a href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" title="Purchase Metronic just for 27$ and get lifetime updates for free" target="_blank">Purchase Metronic!</a>
                    </div>
                </div>
                <div class="scroll-to-top">
                    <i class="icon-arrow-up"></i>
                </div>
                <!-- END INNER FOOTER -->
                <!-- END FOOTER -->
            </div>
        </div>
    </div>
    <!--[if lt IE 9]>
    @Scripts.Render("~/Content/IE9JS")
    <![endif]-->
    @Scripts.Render("~/Content/BaseJS")
    @RenderSection("scripts", required: false)
</body>
</html>
